/* background colors */
.header,
.dark-container,
.footer {
    background-color: #1f2937;
}

.grey-container {
    background-color: #e5e7eb;
}

.blue-container {
    background-color: #3882f6;
}

/* header */
ul {
    margin: 0;
    color: #f9faf8;
    font-size: 18px;
    list-style-type: none;
    display: flex;
    padding-left: 0;
    gap: 30px;
}

.header {
    display: flex;
    flex: initial;
    justify-content: space-between;
    align-items: center;
}

/* Misc: */
body {
    margin: 0;
}

.header,
.white-container,
.grey-container,
.blue-container,
.footer {
    padding: 10px 150px;
}

/* dark-container */
.dark-container {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    padding: 100px 150px;
    align-items: center;
}

.right-container img {
    height: auto;
    width: 400px;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
    flex-wrap: wrap;
}

.content {
    color: #e5e7eb;
    font-size: 18px;
    margin: 25px 0;
    line-height: 1.5;
}

.left-container button {
    background-color: #3882f6;
    color: white;
    padding: 6px 20px;
    border-radius: 8px;
    border: 0;
}
/* Make the button active and whatnot */