.header,
.dark-container,
.footer {
    background-color: #1f2937;
}

.grey-container {
    background-color: #e5e7eb;
}

.blue-container {
    background-color: #3882f6;
}

ul {
    margin: 0;
    color: #f9faf8;
    font-size: 18px;
    list-style-type: none;
    display: flex;
    padding-left: 50px;
    gap: 30px;
}

.header {
    display: flex;
    flex: initial;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: 0;
}

.header,
.white-container,
.grey-container,
.blue-container,
.footer {
    padding: 10px 150px;
}

.dark-container {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    padding: 100px 150px;
    align-items: center;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
    flex-wrap: wrap;
}

.content {
    color: #e5e7eb;
    font-size: 18px;
    margin: 25px 0;
    line-height: 1.5;
}

.left-container button {
    background-color: #3882f6;
    color: white;
    padding: 6px 20px;
    border-radius: 8px;
    border: 0;
    font-size: 14px;
}

.white-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creations {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    margin-top: 30px;
}

.my-creations {
    display: flex;
    gap: 50px;
}

.creation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 40px 0;
}

.creation img {
    border: 3px solid #3882f6;
    border-radius: 8px;
}

.creation p {
    width: 150px;
}

.grey-container {
    padding-top: 100px;
    padding-bottom: 90px;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-style: italic;
    width: 780px;
}

.author {
    font-size: 25px;
    font-weight: bold;
    margin-left: 550px;
}

.blue-container {
    color: white;
    width: 828px;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    border-radius: 8px;
}

.sign-up {
    display: flex;
    flex-direction: column;
}

.button {
    align-self: center;
}

.subscribe,
.bottom-button {
    font-size: 18px;
}

.more {
    font-size: 24px;
    font-weight: bold;
    margin: 50px 0 0 0;
}

.subscribe {
    margin: 5px 0 50px 0;
}

.bottom-button {
    padding: 5px 30px;
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    border-color: white;
    border-style: solid;
    font-weight: bold;
}

.footer {
    color: white;
    padding: 50px 0;
    text-align: center;
    font-size: 16px;
}